a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    position: fixed; /* margin-left: auto; instead of the first 2 lines*/
    right: 0;
    display: flex;
    /*border: 1px solid black;*/
    width: 200px;
    height: 40px;
    
    
}

#gmail_header {
    font-size: 14px;
    color:rgb(61, 59, 59);
    
    
}

#images_header {
    font-size: 14px;
    color:rgb(61, 59, 59);
    margin-left: 35%;
    
}

#apps_logo {
    font-size: 23px;
    margin-left: 20%;
    color: black;
    padding-top: 8px;
}

#account_pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 90%;
    padding-top: 3px;
}


#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    
}

/*.search-bar {
    margin: auto;
    border: 2px solid black;
    width: 1000px;
}

#bar {
    border: 0.25px solid gray;
    border-radius: 20px;
    position: relative;
    margin-left: 25%;
    width: 500px;
    height: 40px;
}*/

.search-bar {
    border: 1px solid  rgb(202, 200, 200);
    border-radius: 20px;
    width: 500px;
    height: 40px;
    margin: auto;
}

#search_icon {
    color: rgb(184, 180, 180);
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

#mic_icon {
    
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-right: 0;
    padding-left: 430px;
    padding-top: 8px;    
}


.button_div {
    /*border: 5px solid black;*/
    width: 500px;
    margin:auto;
}


.button{
    
    border: none;
    padding: 10px;
    border-radius: 5px;

}

#button1 {
    
    margin-left: 23%;
    width: 25%;
    
}

#button2 {
    
    margin-left: 3%;
    width: 25%;
}









